doctype html
html
  head
  body
    header
    h1 Let Us Help You
    p Tofu Vice gentrify you probably haven’t heard of them. Selvage single-origin coffee letterpress Vice.
    button Report Vandalism
    button Emergency Chat
    footer